@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&display=swap');
*{
 margin: 0 ;
 padding: 0;
 box-sizing: border-box;
}
body{
    background: #d9d9d9;
}
header{
    background-image: url(src/banner.png);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
nav{    
    background: #443e3e;
    height: 3vw;
    width: 100%;
    padding: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}
nav,h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}
.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.3rem;
    flex-direction: column;
    flex-wrap: wrap;
}
.home-texto{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.9rem;
    padding: 3.6rem;
    color:rgb(182, 44, 44);
}
.home-texto-1{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    padding: 2rem;
    color: rgb(173, 45, 45);
}
.bote{

    padding: 4rem;
}
#botao{
    border-radius: 10px;
    width: 100px;
    height: 60px;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container{
    padding: 2rem;
    gap: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;


}
.imags,img{
    border-radius: 10px;
}
.conteudo{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    color: rgb(173, 45, 45);
}
.conteudo,p{
    font-size: 1.4rem;
}
.botao-1,input{
    width: 100px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
    font-size: 0.8em;
    background:#443e3e;    
    color: white;
}
.mapa,iframe{
    padding: 2rem;
    display: flex;
    justify-content: center;
   height: 90vh;
   width: 200vh;
}
footer{
    padding: 10px;
    display: flex;
    width: 100%;
    height: 20vh;
    background: #443e3e;
}